h1 {
    background-color: white;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

VerMLayout {
    display: grid;
    grid-template-rows: repeat(40, 1cm);
    grid-template-columns: repeat(20, 1fr);
}

#RegisterBox {
    grid-row-start: 1;
    grid-row-end: 19;
    grid-column-start: 1;
    grid-column-end: 9;
}

#GenerateBox {
    grid-row-start: 1;
    grid-row-end: 12;
    grid-column-start: 10;
    grid-column-end: 16;
}

formLayout {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

#verList {
    overflow: auto;
    height: 500px;
}

body {
    overflow:hidden;
}

input[type="radio"] {
    vertical-align: middle;
}
