<!doctype html>
<html>
  <head>
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static "lib/css/bootstrap.min.css" %}">

    <title>GPON Team Site</title>
  </head>
  <body>

    <ul>
      <li><a href="http://gpon.git.com:8011">Gitlab</a></li>
      <li><a href="http://10.5.1.30:8010">Buildbot</a></li>
      <li><a href="{% url 'manager:oemReg' %}">OEM Register</a></li>
    </ul>

    <!-- Javascript import via requireJS -->
    <script data-main="{% static "main" %}", src="{% static "lib/require.js" %}"></script>
  </body>
</html>
