<html>
  <head>
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static "lib/node_modules/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="icon" href="data:;base64,=">

    <title>GPON Team Site</title>
  </head>
  <body>

    <ul>
      <li><a href="http://gpon.git.com:8011">Gitlab</a></li>
      <li><a href="http://10.5.1.30:8010">Buildbot</a></li>
      <li><a href="{% url 'manager:verRegPage' %}">Version Manager</a></li>
    </ul>

    <!-- Javascript import via requireJS -->
    <script type="module" src="{% static "main.js" %}"></script>
  </body>
</html>
