<html>
  <head>
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static "lib/node_modules/bootstrap/dist/css/bootstrap.min.css" %}">

    <title>Version Manager</title>
  </head>

  <body>
    <h1>Version Manager</h1>

    <div class="container-fluid">
      <form id="try" action="verRegister/register" method="post">
        {% csrf_token %}
        <p>Version: <input type="text" name="Version"></p>
        <div id="verList" style=""></div>
        <input type="submit" name="register" value="register">
      </form>
    </div>

    <!-- Javascript import via requireJS -->
    <script type="module" src="{% static "verRegister.js" %}"></script>
  </body>

</html>
