<html>
  <head>
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static "lib/node_modules/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "sheet.css" %}">

    <title>Version Manager</title>
  </head>

  <body>
    <h1>Version Manager</h1>

    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="display: none;"></iframe>

    <VerMLayout>

      <div class="container-fluid" id="RegisterBox" style="border-style:solid; margin-left: 10px; padding: 20px">
        <form id="regForm" action="verRegister/register" method="post" target="dummyframe">
          {% csrf_token %}
          <div id="verList"></div>
          <p>Version: <input type="text" name="Version"></p>
        </form>
        <input id="registerBtn" type="submit" name="register" value="register">
      </div>

      <div class="container-fluid" id="GenerateBox" style="border-style:solid; padding: 20px">
        <form id="genForm" action="verRegister/register" method="post" target="dummyframe">
          {% csrf_token %}
          <label>Versions:</label>
          <select id="verSelect" name="verSelect"></select>
          <p>Datetime: <input type="text" name="Datetime"></p>
        </form>
        <input id="generationBtn" type="submit" name="generation" value="generation">
      </div>

    </VerMLayout>

    <!-- Javascript import via requireJS -->
    <script type="module" src="{% static "verRegister.js" %}"></script>
    <script type="module" src="{% static "verGeneration.js" %}"></script>
  </body>

</html>
