h1 {
    font-size: 1.2em;
    margin-bottom: 0;
    overflow-y: auto;
}

.GenPanel {
    display: grid;
    width: 25cm;
    grid-template-rows: 3cm 30cm;
    grid-template-colums: repeat(10, 2cm);
    margin-left: auto;
    margin-right: auto;
}

app-ver-register {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 1em;
}

app-ver-gen {
    grid-row-start: 2;
    grid-column-start: 5;
    grid-column-end: 8;
    padding: 1em;
}
